@model IEnumerable<QuanLyTiemNET.Models.Computer>

@{
    ViewData["Title"] = "Danh sách máy tính";
}

<h2>@ViewData["Title"]</h2>
@if (User.IsInRole("Admin"))
{
    <p>
        <a asp-action="Create" class="btn btn-primary">Thêm máy mới</a>
    </p>
}

<table class="table table-bordered table-striped">
    <thead class="thead-dark">
        <tr>
            <th>Mã máy</th>
            <th>Tên máy</th>
            <th>Trạng thái máy</th>
            <th>Đơn giá</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var computer in Model)
        {
            <tr>
                <td>@computer.id</td>
                <td>@computer.Name</td>
                <td>@computer.Status</td>
                <td>@computer.HourlyRate</td>
                @if (User.IsInRole("Admin"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@computer.id" class="btn btn-sm btn-warning">Sửa</a>
                        <a asp-action="Detail" asp-route-id="@computer.id" class="btn btn-sm btn-info">Chi tiết</a>
                        <a asp-action="Delete" asp-route-id="@computer.id" class="btn btn-sm btn-danger">Xóa</a>
                    </td>
                }
                @if (User.IsInRole("User"))
                {
                    <td>
                        <a asp-action="Edit" asp-route-id="@computer.id" class="btn btn-sm btn-warning">Chọn</a>
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
